<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="URL" value="xyz.com"></parameter>
  <parameter name="URLZ" value="prt.com"></parameter>
  <groups>
  	<run>
  		<include name="cogs"></include>
  	</run>
  </groups>
    <classes>
      <class name="test.firstTestng"/>
    </classes>
  </test> 
  
  	<test thread-count="5" name="Test2">
  <parameter name="URL" value="xyz.com"></parameter>
  <parameter name="URLZ" value="prt.com"></parameter>
  <groups>
  	<run>
  		<include name="cogs"></include>
  	</run>
  </groups>
    <classes>
      <class name="test.firstTestng"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
